venv/
__pycache__/

# your mom

# sorry i had to do it to em.

#just a way for me to test the gitignore file and its functionality! 
#please ignore this file! or dont read it... i should of put that at 
#the start of the sentences eh?